nav {
  background-color: black;
}

nav ul {
  margin: 0 0 10px 0;
  display: flex;
  padding: 10px;
  list-style-type: none;
}

nav ul li {
  padding: 5px;
}

nav ul li a {
  color: rgb(35, 189, 35);
  text-decoration: none;
}

nav ul li a:hover {
  color: red;
  font-weight: 500;
}
